<label class="ff__label" for="ff-{{ field.name }}">{{ field.label }}{% if field.required %} <span class="ff__req">*</span>{% endif %}</label>
<input class="ff__control ff__file" id="ff-{{ field.name }}" type="file" name="{{ field.name }}"{% if field.required %} required{% endif %}>
{% if field.help %}<small class="ff__help">{{ field.help }}</small>{% endif %}
